/**
 * Custom theme for reveal.js.
 * Author: Björn Hempel
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
@import url(./fonts/barlow-condensed/barlow-condensed.css);

// Custom colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #90c5eb;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainFont: "Barlow Condensed", sans-serif;
$mainFontSize: 40px;
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $yellow;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Background generator
@mixin bodyBackground() {
    @include radial-gradient(#00252f, #004f64);
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overwrite distance and settings -------------

/* Customized home button. */
div.home {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    color: #fff;

    a {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 200;
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* Configure reveal sections. */
div.reveal {
    div.slides {
        section {
            font-size: clamp(20px, calc(20px + 20 * ((100vw - 320px) / 680)), 40px);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: auto;
            padding: calc(3em + (100vh - 100vw) / 10) 1.5em 1.5em;
            box-sizing: border-box;

            * {
                word-wrap: break-word;
                hyphens: auto;
            }

            h1 {
                margin-top: 0.75em;
                text-shadow: 2px 2px 2px #000000;
            }

            h2 {
                margin-top: 0.75em;
                text-shadow: 2px 2px 2px #000000;

                &.question {

                }

                &.title {

                }
            }

            a {
                font-weight: 200;
            }

            ul {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                margin-top: 0.75em;
                margin-left: 0;
                margin-right: 0;

                &.answers {
                    li {
                        list-style-type: none;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                }

                &.links {
                    li {
                        list-style-type: square;
                        list-style-position: inside;

                        &::marker {
                            color: $blue;
                        }
                    }
                }
            }

            p {
                font-weight: 200;
            }

            div.text {
                padding-top: 0.5em;
                p {
                    line-height: 1.6;
                }
            }

            div.note {
                border: 1px solid $base2;
                padding: 0.5em;
                background-color: rgba(0, 0, 0, 0.2);

                p {
                    font-size: 0.75em;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            iframe {
                margin-top: 0.75em;
            }
        }
    }
}
// ---------------------------------------------